#root {
  color: red;
}

#container {
  border: solid 5px green;
}

#header {
  border: solid 5px red;
}

#episodeContainer {
  border: solid 5px blue;
}

.container {
  display: grid;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body > div.wrapper > div {
  background-color: pink;
  padding: 50px;
}

.card {
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: #f5eaed;
  border-radius: 10px;
  
}





